{% extends "layouts/base.html" %}

{% block title %}Список постов{% endblock title %}

{% block content %}
    <h1>Список постов сайта</h1>

    {# Отображение постов #}
    {% if posts %}
        <div class="container">
            {% for post in posts %}
                {% include 'blog/includes/post_container.html' %}
            {% endfor %}
        </div>
    {% else %}
        <p>Постов ещё нет. Загляните позже!</p>
    {% endif %}

    {% include "blog/includes/pagination.html" %}
{% endblock content %}