{% extends "base.html" %}

{% block title %}Профиль{% endblock title %}

{% block content %}
    {% if user == request.user %}
        <h1>Мой профиль</h1>
    {% else %}
        <h1>Профиль пользователя {{ user.username }}</h1>
    {% endif %}

    {% if posts %}
        {% for post in posts %}
            <div class="container">
                {% if user == request.user or post.status != 'draft' %}
                    {% include 'blog/includes/post_container.html' %}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Постов ещё нет. Загляните позже!</p>
    {% endif %}

    {% include "blog/includes/pagination.html" %}
{% endblock content %}