{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Профиль{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static "blog/css/includes/post_container.css" %}">
{% endblock styles %}

{% block scripts %}
    <script src="{% static "blog/js/favorites.js" %}" type="module" defer></script>
{% endblock scripts %}

{% block content %}
    {% if user == request.user %}
        <h1>Мой профиль</h1>
    {% else %}
        <h1>Профиль пользователя {{ user.username }}</h1>
    {% endif %}

    {% if user == request.user %}
        <a href="{% url 'users:favorite_posts' %}" class="btn btn-outline-primary">
            Посмотреть избранные посты
        </a>
    {% endif %}

    {% if posts %}
        {% for post in posts %}
            <div class="container">
                {% if user == request.user or post.status != 'draft' %}
                    {% include 'blog/includes/post_container.html' %}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Постов ещё нет. Загляните позже!</p>
    {% endif %}

    {% include "blog/includes/pagination.html" %}
{% endblock content %}