{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <a href="{% url 'post_list' %}">&larr;Назад</a>
    <h1>Детали поста</h1>
    <h2>Идентификатор поста: {{ post.id }}</h2>
    <h3>{{ post.title }}</h3>
    <p>{{ post.text }}</p>
    <p>{{ post.created_at }}</p>

    <a href="{% url 'edit_post' post.id %}">Редактировать пост</a>
    
    <form method="POST" action="{% url 'remove_post' post.id %}">
        {% csrf_token %}

        <button type="submit">Удалить пост</button>
    </form>
{% endblock content %}