{% extends "base.html" %}

{% block title %}Создать пост{% endblock title %}

{% block content %}
    <h1>Создать новый пост</h1>

    {% comment %} action="{% url 'new_post' %}" можно не указывать {% endcomment %}
    <form method="POST">
        {% csrf_token %}
        
        <div>
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div>
            {{ form.text.label_tag }}
            {{ form.text }}
            {{ form.text.errors }}
        </div>

        <button type="submit">Создать</button>
    </form>
{% endblock content %}